@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

.card {
    font-family: 'Roboto', sans-serif;
    border: 3px solid black;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
}

.card:hover {
    border-color: hsl(225, 98%, 51%);
}

.card-image > img {
    width: 100%;
}

.card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.card-action {
    text-align: center;
    padding: 50px 0 20px 0;
}

@media screen and (min-width: 600px) {
    .card {
        width: 300px;
    }
}